- name: Install ntp
  apt:
    name: ntp
    state: present
    update_cache: true

- name: Deploy ntp.conf
  template:
    src: ntp.conf.j2
    dest: /etc/ntp.conf
    mode: '0644'
  notify: Restart NTP

- name: Ensure ntp is enabled and running
  service:
    name: ntp
    enabled: true
    state: started
